red_node_flow.json
[{"id":"c5e828e9.3029e8","type":"inject","z":"42f67546.9b2f3c","name":"BLUE","topic":"my_raspberry/sensor","payload":"{\"r\":0,\"g\":0,\"b\":255}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["f55aeebf.0a8138"]]},{"id":"f55aeebf.0a8138","type":"mqtt out","z":"42f67546.9b2f3c","name":"","topic":"","qos":"","retain":"","broker":"f6cb8e6f.7b5a68","x":370,"y":300,"wires":[]},{"id":"1502978c.0fd8c","type":"mqtt in","z":"42f67546.9b2f3c","name":"","topic":"my_raspberry/#","qos":"0","datatype":"auto","broker":"f6cb8e6f.7b5a68","x":100,"y":580,"wires":[["c2a43fc2.8bc218"]]},{"id":"c2a43fc2.8bc218","type":"debug","z":"42f67546.9b2f3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":580,"wires":[]},{"id":"343a2784.e75f3","type":"inject","z":"42f67546.9b2f3c","name":"GREEN","topic":"my_raspberry/sensor","payload":"{\"r\":0,\"g\":255,\"b\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["f55aeebf.0a8138"]]},{"id":"b509966.a40a368","type":"inject","z":"42f67546.9b2f3c","name":"SHUTDOWN","topic":"my_raspberry/sensor","payload":"{\"r\":0,\"g\":0,\"b\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["f55aeebf.0a8138"]]},{"id":"c88702d1.297ff8","type":"inject","z":"42f67546.9b2f3c","name":"GET HUMIDITY","topic":"my_raspberry/sensor","payload":"{\"sensor_request\":\"humidity\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["f55aeebf.0a8138"]]},{"id":"86fa0254.bc2a58","type":"inject","z":"42f67546.9b2f3c","name":"GET TEMPERATURE","topic":"my_raspberry/sensor","payload":"{\"sensor_request\":\"temperature\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["f55aeebf.0a8138"]]},{"id":"30b90b98.b7f154","type":"inject","z":"42f67546.9b2f3c","name":"GET PRESSURE","topic":"my_raspberry/sensor","payload":"{\"sensor_request\":\"pressure\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["f55aeebf.0a8138"]]},{"id":"f6cb8e6f.7b5a68","type":"mqtt-broker","z":"","name":"mqtt-server","broker":"192.168.1.74","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]